<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @equipment.name %>
</p>

<p>
  <b>Type:</b>
  <%= @equipment.type %>
</p>

<p>
  <b>Number:</b>
  <%= @equipment.number %>
</p>

<p>
  <b>Firepower:</b>
  <%= @equipment.firepower %>
</p>

<p>
  <b>Torpedo:</b>
  <%= @equipment.torpedo %>
</p>

<p>
  <b>Bomb:</b>
  <%= @equipment.bomb %>
</p>

<p>
  <b>Antiair:</b>
  <%= @equipment.antiair %>
</p>

<p>
  <b>Antisubmatine:</b>
  <%= @equipment.antisubmatine %>
</p>

<p>
  <b>Scouting:</b>
  <%= @equipment.scouting %>
</p>

<p>
  <b>Hit:</b>
  <%= @equipment.hit %>
</p>

<p>
  <b>Range:</b>
  <%= @equipment.range %>
</p>

<p>
  <b>Can destroyer:</b>
  <%= @equipment.can_destroyer %>
</p>

<p>
  <b>Can light cruiser:</b>
  <%= @equipment.can_light_cruiser %>
</p>

<p>
  <b>Can heavy cruiser:</b>
  <%= @equipment.can_heavy_cruiser %>
</p>

<p>
  <b>Can battleship:</b>
  <%= @equipment.can_battleship %>
</p>

<p>
  <b>Can light air carrier:</b>
  <%= @equipment.can_light_air_carrier %>
</p>

<p>
  <b>Can air carrier:</b>
  <%= @equipment.can_air_carrier %>
</p>

<p>
  <b>Can seeplane carrier:</b>
  <%= @equipment.can_seeplane_carrier %>
</p>

<p>
  <b>Can ari cruiser:</b>
  <%= @equipment.can_ari_cruiser %>
</p>

<p>
  <b>Rare:</b>
  <%= @equipment.rare %>
</p>

<p>
  <b>Note:</b>
  <%= @equipment.note %>
</p>


<%= link_to 'Back', equipment_index_path %>
