<% content_for :title do %>
<%= sprintf("%03d", @equipment.number) %> <%= @equipment.name %>
<% end %>

<h1><%= yield(:title) %></h1>
<p class="lead"><%= @equipment.equip_type %></p>

<dl>
  <dt>パラメータ</dt>
  <dd>
	<table class="table">
	  <tr>
		<th class="span2">火力</th>
		<td class="span2"><%= @equipment.firepower %></td>
		<th class="span2">雷装</th>
		<td class="span2"><%= @equipment.torpedo %></td>
		<th class="span2">爆装</th>
		<td class="span2"><%= @equipment.bomb %></td>
		<th class="span2">対空</th>
		<td class="span2"><%= @equipment.antiair %></td>
	  </tr>
	  <tr>
		<th>対潜</th>
		<td><%= @equipment.antisubmarine %></td>
		<th>索敵</th>
		<td><%= @equipment.scouting %></td>
		<th>命中</th>
		<td><%= @equipment.hit %></td>
		<th>射程</th>
		<td><%= @equipment.range_value %></td>
	  </tr>
	</table>
  </dd>
</dl>

<dl>
  <dt>装備可能艦種</dt>
  <dd>
	<%= @equipment.can_equip_ship_types %>
  </dd>
</dl>

<dl>
  <dt>レア度</dt>
  <dd><%= '☆' * (@equipment.rare) %></dd>
</dl>

<dl>
  <dt>備考</dt>
  <dd><p><%= simple_format(@equipment.note) %></p></dd>
</dl>

