<h2>艦娘リスト</h2>

<table class="table table-striped table-hover">
  <tr>
	<th>番号</th>
    <th>艦名</th>
    <th>艦級</th>
    <th>艦種</th>
    <th>耐久</th>
    <th>火力</th>
    <th>装甲</th>
    <th>雷装</th>
    <th>回避</th>
    <th>対空</th>
    <th>搭載</th>
    <th>対潜</th>
    <th>速力</th>
    <th>索敵</th>
    <th>射程</th>
    <th>運</th>
    <th>改装</th>
    <th>レア度</th>
    <th>備考</th>
    <th></th>
    <th></th>
  </tr>

<% @ships.each do |ship| %>
  <tr>
    <td><%= ship.number %></td>
    <td><%= link_to ship.name, ship %></td>
    <td><%= ship.ship_class %> <%= ship.ship_number %>番艦</td>
    <td><%= ship.ship_type %></td>
    <td><%= ship.stamina %></td>
    <td><%= ship.firepower %></td>
    <td><%= ship.cuirass %></td>
    <td><%= ship.torpedo %></td>
    <td><%= ship.avoidance %></td>
    <td><%= ship.antiair %></td>
    <td><%= ship.aircapacity %></td>
    <td><%= ship.antisubmarine %></td>
    <td><%= ship.speed %></td>
    <td><%= ship.scouting %></td>
    <td><%= ship.range %></td>
    <td><%= ship.luck %></td>
    <td><%= ship.renovation_level %></td>
    <td><%= ship.rare %></td>
    <td><%= ship.note %></td>
    <td><%= link_to glyph(:pencil), edit_ship_path(ship) %></td>
    <td><%= link_to glyph(:trash), ship, method: :delete, data: { confirm: "'#{ship.name}'を除籍しますがよろしいですか?" } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '竣工した艦娘を登録', new_ship_path %>
