<% content_for :title do %>
お気に入り艦娘
<% end %>

<h2><%= yield(:title) %></h2>

<div class="favorites">
<% @favorites.each do |fav| ship = fav.ship %>
  <div class="ship well well-small">
	<h4><%= link_to ship.name, ship, :data => {:colorbox => true, :colorbox_height => '480px', :colorbox_width => '640px', :colorbox_iframe => true} %></h4>
	<p><%= ship.number %> : <%= ship.ship_class %> : <%= ship.ship_type %></p>
  </div>
<% end %>
</div>

